version: '3.8'

services:
  # --- 1. Zookeeper Service ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    container_name: fo-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - fo-network

  # --- 2. Kafka Service ---
  kafka:
    image: confluentinc/cp-kafka:7.4.4
    container_name: fo-kafka
    ports:
      - "9092:9092" # Cổng 9092 lộ ra ngoài cho IntelliJ
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: fo-zookeeper:2181
      # Định nghĩa 2 luồng: INTERNAL (Docker) và EXTERNAL (Máy thật)
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      # Quảng bá địa chỉ: Bên ngoài thấy localhost:9092, Bên trong thấy fo-kafka:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://fo-kafka:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - fo-network

  # --- 3. MySQL Service ---
  mysql-db:
    image: mysql:8.0
    container_name: fo-mysql
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - fo-network

  # --- 4. Redis Service ---
  redis-cache:
    image: redis:alpine
    container_name: fo-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - fo-network

  # --- 5. Discovery Service ---
  discovery-service:
    image: discovery-service:latest
    build: discovery-server
    container_name: fo-discovery-server
    ports:
      - "8761:8761"
    networks:
      - fo-network

  # --- 6. User Service ---
  user-service:
    image: user-service:latest
    build:
      context: .
      dockerfile: user-service/Dockerfile
    container_name: fo-user-service
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      MYSQL_HOST: fo-mysql
      MYSQL_PORT: 3306
      REDIS_HOST: fo-redis
      REDIS_PORT: 6379
      # Sửa cổng Kafka thành 29092 (Cổng nội bộ)
      KAFKA_BOOTSTRAP_SERVERS: fo-kafka:29092
      USER_DB_USERNAME: ${USER_DB_USERNAME}
      USER_DB_PASSWORD: ${USER_DB_PASSWORD}
      USER_DB_NAME: ${USER_DB_NAME}
      USER_SERVICE_PORT: ${USER_SERVICE_PORT}
    depends_on:
      - mysql-db
      - discovery-service
      - kafka
      - redis-cache
    networks:
      - fo-network

  # --- 7. API Gateway ---
  api-gateway:
    image: api-gateway:latest
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: fo-api-gateway
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      REDIS_HOST: fo-redis
      REDIS_PORT: 6379
    depends_on:
      - discovery-service
      - redis-cache
    networks:
      - fo-network

  # --- 8. Notification service ---
  notification-service:
    image: notification-service:latest
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    container_name: fo-notification-service
    ports:
      - "${NOTIFICATION_SERVICE_PORT}:${NOTIFICATION_SERVICE_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      KAFKA_BOOTSTRAP_SERVERS: fo-kafka:29092
      NOTIFICATION_SERVICE_PORT: ${NOTIFICATION_SERVICE_PORT}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
    depends_on:
      - discovery-service
      - kafka
    networks:
      - fo-network

  # --- 9. Merchant service ---
  merchant-service:
    image: merchant-service:latest
    build:
      context: .
      dockerfile: merchant-service/Dockerfile
    container_name: fo-merchant-service
    ports:
      - "${MERCHANT_SERVICE_PORT}:${MERCHANT_SERVICE_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      MYSQL_HOST: fo-mysql
      MYSQL_PORT: 3306
      REDIS_HOST: fo-redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_SERVERS: fo-kafka:29092
      MERCHANT_DB_USERNAME: ${MERCHANT_DB_USERNAME}
      MERCHANT_DB_PASSWORD: ${MERCHANT_DB_PASSWORD}
      MERCHANT_DB_NAME: ${MERCHANT_DB_NAME}
      MERCHANT_SERVICE_PORT: ${MERCHANT_SERVICE_PORT}
      MINIO_URL: http://fo-minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: merchant-images
    depends_on:
      - mysql-db
      - discovery-service
      - redis-cache
      - minio
      - kafka
    networks:
      - fo-network

  # --- 10. Order service ---
  order-service:
    image: order-service:latest
    build:
      context: .
      dockerfile: order-service/Dockerfile
    container_name: fo-order-service
    ports:
      - "${ORDER_SERVICE_PORT}:${ORDER_SERVICE_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      MYSQL_HOST: fo-mysql
      MYSQL_PORT: 3306
      REDIS_HOST: fo-redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_SERVERS: fo-kafka:29092
      ORDER_DB_USERNAME: ${ORDER_DB_USERNAME}
      ORDER_DB_PASSWORD: ${ORDER_DB_PASSWORD}
      ORDER_DB_NAME: ${ORDER_DB_NAME}
      ORDER_SERVICE_PORT: ${ORDER_SERVICE_PORT}
    depends_on:
      - mysql-db
      - discovery-service
      - redis-cache
      - kafka
    networks:
      - fo-network

  # --- 11. Delivery-service ---
  delivery-service:
    image: delivery-service:latest
    build:
      context: .
      dockerfile: delivery-service/Dockerfile
    container_name: fo-delivery-service
    ports:
      - "${DELIVERY_SERVICE_PORT}:${DELIVERY_SERVICE_PORT}"
    env_file:
      - .env
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://fo-discovery-server:8761/eureka/
      MYSQL_HOST: fo-mysql
      MYSQL_PORT: 3306
      REDIS_HOST: fo-redis
      REDIS_PORT: 6379
      KAFKA_BOOTSTRAP_SERVERS: fo-kafka:29092
      DELIVERY_DB_USERNAME: ${DELIVERY_DB_USERNAME}
      DELIVERY_DB_PASSWORD: ${DELIVERY_DB_PASSWORD}
      DELIVERY_DB_NAME: ${DELIVERY_DB_NAME}
      DELIVERY_SERVICE_PORT: ${DELIVERY_SERVICE_PORT}
    depends_on:
      - mysql-db
      - discovery-service
      - redis-cache
      - kafka
    networks:
      - fo-network

  # --- 12. Minio ---
  minio:
    image: minio/minio:latest
    container_name: fo-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./minio_data:/data
    networks:
      - fo-network

  # --- 13. Ngrok Tunnel ---
  ngrok:
    image: ngrok/ngrok:latest
    container_name: fo-ngrok
    restart: unless-stopped
    networks:
      - fo-network
    command: http --domain=${NGROK_DOMAIN} fo-api-gateway:${GATEWAY_PORT}
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    depends_on:
      - api-gateway

volumes:
  mysql_data:
  redis_data:

networks:
  fo-network:
    driver: bridge