spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${USER_DB_NAME}
    username: ${USER_DB_USERNAME:user_user}
    password: ${USER_DB_PASSWORD:user1012}
    driver-class-name: com.mysql.cj.jdbc.Driver

  cache:
    type: redis

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 60000

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jws-algorithm: HS512

server:
  port: ${USER_SERVICE_PORT:8081}
  error:
    include-message: always
    include-binding-error: always

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 900
  refresh-token-expiration: 604800

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}